  <h2><%= @question.title %></h2><strong><%= @question.user.username if @question.user.present? %></strong>
  <h3><%= @question.question_text %></h3>

<ul>
  <% @question.answers.each do |answer| %>
   <li><%= answer.answer_text %></li>
  <% end %>

</ul>
